body {
  font-family: "Charm", cursive;
  background-image: url(http://starkovtattoo.spb.ru/images/600/DSC100625745.jpg);
  background-size: 100%;

}

#next, #restart {
  height: 50px;
  width: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#nextgame, #restartgame {
  height: 35px;
  width: 110px;
  font-size: 18px;
  border-radius: 5px;
  background-color: white;
  border: 1px darkgrey;
  border-style: solid;
  position: absolute;
  top: 200px;
  right: 47%;
}

#spel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#knappar {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

button {
  font-family: "Charm", cursive;
  margin: 3px;
}

  canvas {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-top: 2px solid grey;
  }
