h1 {
  font-size: 60px;
  color: white;
  text-shadow: 3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;
  font-family: 'Charm';
  margin-bottom: 20px;
  margin-top: -10px;
}

body {
  background-image: url('../images/village.jpg');
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: 420px;
  height: 240px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

p {
  text-align: center;
  font-family: 'Charm';
  color: white;
}

ul li {
  list-style: none;
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;
}

h2 {
  margin-top: 10px;
  color: white;
  text-shadow: 3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;
  font-family: 'Charm';
  margin-bottom: 0;
}

.againAgain {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  color: white;
  text-shadow: 3px 3px 8px #bf7f00, -3px -3px 8px #bf7f00;
  border: none;
  background-color: transparent;
  font-size: 25px;
}
